html,
body,
* {
  font-family: "Poppins-Regular";
}

main {
  background-color: rgb(14 165 233);
}

nav {
  border-color: rgba(234, 237, 241, 0.2);
}

.inverted {
  background-color: transparent !important;
}

.inverted .group {
  color: #fff !important;
}

header.inverted .logo {
  display: none;
}

header.inverted .white_logo {
  display: block;
}

header .group {
  background-color: transparent !important;
}

header .group:hover {
  color: rgb(14 165 233);
}

.banner .owl-carousel .owl-item img {
  min-width: 800px;
}

.testimonials .owl-carousel .owl-item img {
  width: 6rem;
}

.ebookFormat main {
  background-color: #fff;
  background-image: url("../../assets/images/eBook_Formate-Slider.png");
  background-size: 600px;
  height: calc(100vh - 48px);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
}

.servic_include ul li {
  position: relative;
  padding-left: 12px;
}

.servic_include li:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f058";
  position: absolute;
  top: 0;
  bottom: 0;
  left: -12px;
  color: rgb(14 165 233);
}

.container {
  position: relative;
  overflow: hidden;
  width: 100%;
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
  display: block;
  /* iframes are inline by default */
  height: 100vh;
  /* Set height to 100% of the viewport height */
  width: 90vw;
  /* Set width to 100% of the viewport width */
  border: none;
  /* Remove default border */

}

.paperbackFormat main {
  background-color: #fff;
  background-image: url("../../assets/images/Paperback_Formate-Slider\ copy-remove-shadow.png");
  background-size: 700px;
  height: calc(100vh - 48px);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
}

.portfolio main {
  background-color: #fff;
  height: calc(100vh - 48px);
}

.brochure main {
  background-color: #fff;
  background-image: url("../../assets/images/Brochure-Slider.png");
  background-size: 600px;
  height: calc(100vh - 48px);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
}

#filter li.active {
  border-bottom-color: rgb(14 165 233);
}