#topnav{
    background-color: rgb(24, 0, 129);
    display: flex;
    justify-content: center;
    align-items: center;
}


#Request{
    background-color: rgb(150, 0, 0);
}

#Request a{
    color: white;
}

#navbarNav ul li a:hover{
    background-color: rgb(2, 222, 207);
}   

#navbarSupportedContent ul li a:hover{
    color: rgb(2, 222, 207);
}

#navbarSupportedContent form a{
    color: black;
    line-height: 45px;
    font-size: 20px;
}

#logo{
    font-size: 50px;
    margin-left: 100px;
}

#books img{ 
    border-radius: 10px;
}

#box_a{
    width: 100%;
}

#box_a h3{
    padding: 20px;
    background-color: blue;
}

#box_b{
    width: 100%;
}

#box_b h3{
    padding: 20px;
    background-color: green;
}

#box_c{
    width: 100%;
}

#box_c h3{
    padding: 20px;
    background-color: rgb(0, 145, 255);
}

#sample p{
    max-width: 70%;
    /* text-align: justify; */
}   


/*============================= Responsive =========================== */

@media (max-width: 695px) { 
    #heading{
        font-size: 20px;
    }
    #images img{
        width: 100px;
        height: 50px;
    }
    #sample{
        margin:0 0 0 100px;
    }
 }


@media (max-width: 596px) { 
    #boxes{
        flex-direction: column;
    }
    #images{
        flex-direction: column;
        align-items: center;
    }
    #images img {
        width: 200px;
        height: 100px;
    }
    #sample{
        flex-direction: column;
        align-items: center;
        margin:0 0 0 100px;
    }
 }


@media (max-width: 480px) { 
     #buttons button{
        font-size: 12px;
        margin-top: 20px;
     }
     #buttons{
        flex-direction: column;
     }
     #sample{
        margin:0 0 0 50px;
    }
 }

@media (max-width: 1050px) { 
    #scoot{
        flex-direction: column;
    }
    #scoot h2{
        font-size: 20px;
    }
    #scoot p{
        font-size: 15px;
    }
    #scoot img{
        /* float: right; */
    }
 }


@media (min-width: 1400px) { 

 }